#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding-top: 50;
    background-color: #fff;
    position: relative;
    top: 300;
    left: 0;
}

body
{
    border-right: 5px solid #257fa4;
    height: 100%;  
}
.page-wrapper
{
    padding-top: 70px;
}
.select-input
{
    height: 40px;
}

.title
{
    padding: 20px;
    background-color: #70cdec;
    color: #fff;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #257fa4;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav a
    {
        color:#fff;
    }
    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
        color:#ffffff;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
        color:#fff;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

#content
{
padding-top: 30px;

}

#main
{
  
    padding-top: 100px;
}
.footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #257fa4;
      color: #fff;
      min-height: 30px;
  }


.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    padding-left: 100px;
    text-align: center;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

/*Modify default navigation bar propertis*/

.navbar-default {
 
  background-color: #257fa4;
 
  border-color: #425766;
 
}
.navbar-default .navbar-brand {
 
  color: #d7e2e9;
 
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 
  color: #e5dbdb;
 
}
 
.navbar-default .navbar-text {
 
  color: #d7e2e9;
 
}

.navbar-default .navbar-nav > li > a {
 
  color: #fff;
 
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 
  color: #e5dbdb;
 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu {
 
  background-color: #69899f;
 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
 
  color: #fff;
 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
 
  background-color: #69899f;
 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 
  color: #fff;
 
  background-color: #425766;
 
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 
  color: #fff;
 
  background-color: #425766;
 
}
 
.navbar-default .navbar-toggle {
 
  border-color: #425766;
 
}
 
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.navbar-default .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.navbar-default .navbar-collapse,
 
.navbar-default .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.navbar-default .navbar-link {
 
  color: #d7e2e9;
 
}
 
.navbar-default .navbar-link:hover {
 
  color: #e5dbdb;
 
}
 
 
 
@media (max-width: 767px) {
 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
  }

